body {
  background-color: #A8E6CF;
}
h1 {
  color: #364F6B;
}
h2 {
  color: #364F6B;
}
h3 {
  color: #364F6B;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
